*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body{
    max-width: 700px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color:burlywood;
}
.title{
    text-shadow: 2px 8px 15px black;
    text-align: center;
}

.container{
    width: 700px;
    margin-top: 25vh;
    border-radius: 15px;
    background: darkcyan;
    text-align: center;
    box-shadow: 3px 10px 10px black;
}
.separar{
    display:flex;
    justify-content: center;
}

#resultado{
    background-color: aliceblue;
    height:100px;
    text-align-last: right;
    margin-top: 20px;
    padding-top: 80px;
    margin-left: 125px;
    margin-right: 125px;
    
}
.numeros{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 15px;
   
}
.operadores{
    padding: 15px;
}
button{
    width:100px;
    height:50px
}

/* roda pé (footer)*/
footer{
    margin-top: 80px;
    font-size: 40px;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}